---
layout: default
---
<h1>Posts tagged under {{page.tag | replace: '-', ' ' | capitalize}}</h1>
<ul class="post-list">
  {% for post in site.posts %}
    {% for tag in post.tags %}
      {% if tag == page.tag %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2 class="inline-header">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>